.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto;
}

.list {
  margin: 20px auto;
  padding: 0;
  border: 1px solid black;
  max-width: 600px;
  min-height: 300px;
  list-style: none;
}

.commit {
  margin: 20px;
}

.commit-content {
  border: 1px solid;
  text-align: center;
}